body {
  background-color: #fefefe;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding-top: 50px;
}

h1, p {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.btn {
  font-size: 1.1rem;
  padding: 12px;
  border-radius: 8px;
}

.btn + .btn {
  margin-top: 10px;
}
