body {
  background-color: #fdf6e3;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

h1 {
  color: darkorange;
}
.dog-pic {
  width: 150px;
  border-radius: 15px;
  border: 4px solid darkorange;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 20px auto;
}
